# Frontend
app = "connect4-frontend"
primary_region = "iad"

[build]
  dockerfile = "frontend/Dockerfile"

[env]
  REACT_APP_WS_URL = "wss://connect4-backend.fly.dev/ws"
  REACT_APP_API_URL = "https://connect4-backend.fly.dev"

[[services]]
  internal_port = 80
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
